@charset "UTF-8";

/* Aplicando as formatações na TAG <p> para alterar o texto sempre que a utilizarmos */
body{

	background-color: white;
	color: rgba(0,0,0,1); /*Altera a cor da fonte*/ 
}
p{
	text-align: justify;
	text-indent: 50px;
}

/*Formatação de imagens com legendas*/
/*Borda na imagem - Classe Pai*/
figure.foto-legenda{

	position: relative; /*Auxiliar o figcaption*/
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

/*Ajustando a borda para pegar toda a imagem - Classe filha*/
figure.foto-legenda img{

	width: 100%;
	height: 100%;
}

/*Altera a legenda - Classe filha*/
figure.foto-legenda figcaption{

	opacity: 0;
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0, 0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

/*Exibe a legenda quando passa o mouse por cima*/
figure.foto-legenda:hover figcaption{

	opacity: 1;
}